# Ignorování složky node_modules v celém projektu (i v podsloužkách jako apiTest)
node_modules/

# Ignorování vygenerovaných HTML reportů z testů
*.html
!**/public/index.html

# Ignorování vygenerovaných JSON reportů z testů, ale ne datové soubory
report*.json
!*.json
